<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/main-pop.css">
    <title>Safe Trade</title>
</head>
<body>
    <div class="container">
        <h1 class="container_header">Safe Trade Plugin</h1>
        <div class="container_onOff">
            <div class="container_onOff_section">
                <span>Protect Your Trades :</span>
                <label class="switch">
                    <input type="checkbox" id="on_off_check">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="container_onOff_section">
                <span>Your IP :</span>
                <a href="https://www.myip.com/" id="client_ip">51.38.88.76</a>
            </div>
        </div>
        <div class="container_activeExchanges">
            <h3>Supported Exchanges :</h3>
            <ul>
                <li>
                    <a href="https://www.binance.com/en" target="_blank">Binance</a>
                    <span>Forbidden Countries :</span>
                    <span>[Iran, Belarus, Serbia, Bosnia, Myanmar]</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="https://www.bitforex.com/" target="_blank">BitForex</a>
                    <span>Forbidden Countries :</span>
                    <span>[Iran, Belarus, Serbia]</span>
                </li>
            </ul>
        </div>
        <div class="container_footer">
            <div>
                <h5 class="zero-space mb-10">Created by <a href="mailto:p.moghadam@msn.com">Pourya Moghadam</a></h5>
                <h6 class="zero-space">Code Source <a href="https://github.com/PouryaMoghadam/safe-trade-chrome-extension" target="_blank">Github</a></h6>
            </div>
            <div>
                <h5 class="zero-space">Powered BY <a href="https://www.myip.com/" target="_blank">MYIP.com</a></h5>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/main-pop.js"></script>
</body>
</html>